<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Gestión Kinesiología{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="sidebar">
    <h2>Menú</h2>
    <a href="{{ url_for('inicio') }}">Inicio</a>
    <a href="{{ url_for('inventario') }}">Inventario</a>
    <a href="{{ url_for('usuarios') }}">Usuarios</a>
    <a href="{{ url_for('prestamos') }}">Préstamos</a>    
    <a href="{{ url_for('estadisticas') }}">Estadísticas</a>
  </div>

<div class="navbar">
  <h1>Gestión de Cascos y Geles</h1>
  {% if session.get('admin') %}
    <form method="POST" action="{{ url_for('logout') }}">
      <button type="submit">Cerrar Sesión</button>
    </form>
  {% endif %}
</div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>

  <div class="footer">
  <p>San Rafael, Mendoza — Gestor de Préstamos de Cascos</p>
</div>


</body>
</html>
